.extensions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem;
}

.extensions-grid__extension {
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 18px;
  box-shadow: 0 1px 3px var(--color-box-shadow);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.extensions-grid__extension-icon-wrapper {
  display: flex;
  gap: 1rem;
}

.extensions-grid__extension-icon-wrapper img {
  width: 3.5rem;
  height: 3.5rem;
  flex-shrink: 0;
}

.extensions-grid__extension-info {
  min-width: 0;
}

.extensions-grid__extension-name {
  color: var(--color-text);
  font-weight: 700;
  margin: 0 0 0.25rem;
}

.extensions-grid__extension-description {
  color: var(--color-text-muted);
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 1rem;
}

.extensions-grid__extension-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extensions-grid__extension-remove {
  color: var(--color-text);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}

.extensions-grid__extension-remove:hover {
  color: var(--color-surface);
  background-color: var(--color-accent);
}

.extensions-grid__extension-toggle-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.extensions-grid__extension-toggle {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1.13rem;
}

.extensions-grid__extension-toggle-slider {
  position: absolute;
  top: -1px;
  left: -3px;
  right: 0;
  bottom: 0;
  background-color: var(--color-neutral-inactive);
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.extensions-grid__extension-toggle-slider::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  left: 0.1rem;
  bottom: 0.1rem;
  background-color: var(--color-toggle-knob);
  border-radius: 50%;
  transition: transform 0.2s;
}

.extensions-grid__extension-toggle-input:checked
  + .extensions-grid__extension-toggle-slider {
  background-color: var(--color-accent);
}

.extensions-grid__extension-toggle-input:checked
  + .extensions-grid__extension-toggle-slider:hover {
  background-color: var(--color-accent-hover);
}

.extensions-grid__extension-toggle-input:checked
  + .extensions-grid__extension-toggle-slider::before {
  transform: translateX(1rem);
}
