.extensions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.extensions__title {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--color-neutral-900);
}

.extensions__filters {
  display: flex;
  gap: 0.625rem;
}

.extensions__filter {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 1.25rem;
  font-size: larger;
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-200);
  box-shadow: 0 1px 3px var(--color-box-shadow);
  border-radius: 25px;
  cursor: pointer;
}

.extensions__filter:hover {
  color: var(--color-neutral-600);
  background-color: var(--light--gradient);
  box-shadow: none;
}

.extensions__filter--active {
  color: var(--color-neutral-0);
  background-color: var(--color-red-700);
}

.extensions__filter--active:hover {
  color: var(--color-neutral-0);
  background-color: var(--color-red-500);
}
