.extensions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.extensions__title {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--color-text);
}

.extensions__filters {
  display: flex;
  gap: 0.625rem;
}

.extensions__filter {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 1.25rem;
  font-size: larger;
  color: var(--color-text);
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  box-shadow: 0 1px 3px var(--color-box-shadow);
  border-radius: 25px;
  cursor: pointer;
}

.extensions__filter:hover {
  color: var(--color-filter-hover-text);
  background-color: var(--color-filter-hover-bg);
  box-shadow: none;
}

.extensions__filter--active {
  color: var(--color-surface);
  background-color: var(--color-accent);
}

.extensions__filter--active:hover {
  color: var(--color-surface);
  background-color: var(--color-accent-hover);
}
